<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SARCFACIN_FACIN;Integrated Security=SSPI;" 
			 providerName="System.Data.SqlClient" 
			 name="SARCFACINcs"/>
		<add connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\OpenSarc\FACIN.mdb;User Id=admin;Password=;" 
			 providerName="System.Data.OleDb" 
			 name="SPA"/>
	</connectionStrings>
</configuration>