<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SARCConnectionString" connectionString="Data Source=MARCOMANGAN97e4\SQLEXPRESS;Initial Catalog=opensarc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BusinessData.Properties.Settings.OpenSarcConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataAccess\OpenSarc.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="BusinessData.Properties.Settings.SARCConnectionString"
            connectionString="Data Source=MARCOMANGAN97E4\SQLEXPRESS;Initial Catalog=opensarc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>