<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SARCFACINConnectionString" connectionString="Data Source=aldebaran;Initial Catalog=SARCFACIN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BusinessData.Properties.Settings.SARCFACINConnectionString"
            connectionString="Data Source=aldebaran;Initial Catalog=SARCFACIN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BusinessData.Properties.Settings.OpenSarcConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DataAccess\OpenSarc.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>