<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OpenSarcConnectionString" connectionString="Data Source=MARCOMANGAN97e4\SQLEXPRESS;Initial Catalog=opensarc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BusinessData.Properties.Settings.OpenSarcConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=opensarc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>